#graph {
	position: absolute;
	bottom: 1em;
	left: 0.5em;
	right: 300px;
	top: 5em;
}

#legend {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

h1 {
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 1.4em;
	padding: 0.5em;
}

#num-orgs {
	text-decoration: underline;
	cursor: ew-resize;
}
